*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #b3f7ff;
	/*text-align: center;*/
	font-size: 20px;
}
h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}
h3{
	margin-bottom: 10px;
}

.form-row{
	margin-bottom: 20px;

}

.container{
	width: 70%;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	padding: 20px 10px 10px 10px;
}


.field{
	display: inline-block;
	text-align: left;
	width: 48%;
	vertical-align: middle;
}
.label{
	display: inline-block;
	width: 40%;
	text-align: right;
	padding: 5px;
	vertical-align: top;
	margin-top: 5px;
}
ul{
	list-style: none;
}
.input-feild{
	height: 30px;
	width: 280px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
}
#drp{
	margin-top: 10px;
}

#dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 15px 10px 10px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}
.radio{
	position: relative;
	/*left: -45px;*/
	margin-left: 10px;
  	display: block;
  	padding-bottom: 10px;
}
.button{
	font-size: 1em;
	background-color: #6ba2ce;
	color: white;
	border: 0px solid;
	border-radius: 4px;
	height: 40px;
	width: 80px;
	margin: 10px;
}
#event{
	height: 60px;
	width: 300px;
}

@media (max-width: 833px){

	.container{
		width: 70%;

	}
	.field{
		display: inline-block;
		text-align: left;
		width: 48%;
		vertical-align: middle;
	}
	.input-feild,
	#event{
		width: 80%;
	}
	#dropdown{
		width: 80%;
	}
}
@media (max-width: 520px){

	.container{
		width: 80%;
	}
	.field{
		width: 100%;
		display: block;
		/*float: left;*/
		text-align: left;
	}
	.label{
		text-align: left;
		display: block;
	}

	.input-field{
		width: 100%;
	}
	#dropdown{
		width: 100%;
	}
}